.graph {
    float:left;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 17vw;
}

.subtitle{
    margin:2px;
    text-align: center;
}

.timeline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.dropdown {
    width: 80vw;
    height: 20px;
    align-items: center;
    padding: 0em;
    color: black;
}