#mapElem {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 80vw;
  height: 80vh;
  max-height: 80vh;
  max-width: 100vw;
  overflow: hidden;
}

.block {
    height:100%;
    width: 100%;
}
.center {
    margin:auto;
}
.left {
    margin:auto auto auto 0;
}
.right {
    margin:auto 0 auto auto;
}