/* NAV BAR THINGS */

#header {
  background-color: #3f4145;
}

#header h1 {
  text-align: center;
  font-weight: bold;
  margin: 0;
  padding: 1%;
  padding-bottom: 0;
}

nav {
  justify-content: space-around;
  display: flex;
  padding: 10px;
  margin-top: 10px;
}
.nav-link {
  text-decoration: none;
  color: #d9f3ff;
}

.nav-link:hover {
  text-decoration: none;
  color: #df9f1f;
}

/* END NAV BAR */
html, body, #root {
  height: 100%;
}

#test {
  height: 85%;
  text-align:center;
}

.mainframe {
  text-align: center;
}


/* INDEX.CSS THINGS? */

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d9f3ff;
  background-color: #15171a;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: local('Montserrat'), url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* END INDEX.CSS THINGS */

