/* NAV BAR THINGS */
.nav-container {
  background-color: #3f4145;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.nav-container h1 {
  font-weight: bold;
  color: #ffedcb;
}

.nav-element {
  margin: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.navlink-container {
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

.nav-link {
  text-decoration: none;
  color: #d9f3ff;
}

.nav-link:hover {
  text-decoration: none;
  color: #dca11d;
}

/* END NAV BAR */
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

#test {
  height: 85%;
  text-align: center;
}

.mainframe {
  text-align: center;
}

/* INDEX.CSS THINGS? */

body {
  margin: 0;
  font-family: Montserrat;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #d9f3ff;
  background-color: #15171a;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  src: local('Montserrat'),
    url(./fonts/Montserrat-Regular.ttf) format('truetype');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* WORLD MAP/GENERAL THINGS */
:root {
  --stat-green: rgb(101, 221, 155);
  --stat-red: #f65164;
  --stat-orange: #ff9d00;
  --stat-amber: #ffc137;
  --stat-yellow: rgb(248, 245, 64);
  --stat-blue: rgb(68, 155, 226);
  --stat-cyan: #3ecee5;
  --paleGray: #dfdfef;

  --color-primary: #5468b3;

  --color-navy-1: #2e3652;
  --color-navy-2: #364061;
  --color-navy-3: #3d486c;
  --color-navy-4: #445175;
  --color-navy-5: #4b5a81;

  --color-info: #347fd5;
  --color-success: #43ca54;
  --color-error: #f35353;
  --color-warning: #ffd337;

  --color-none: transparent;
}

.text--green {
  color: var(--stat-green);
}

.text--red {
  color: var(--stat-red);
}

.text--orange {
  color: var(--stat-orange);
}

.text--yellow {
  color: var(--stat-yellow);
}

.text--amber {
  color: var(--stat-amber);
}

.text--blue {
  color: var(--stat-blue);
}

.text--cyan {
  color: var(--stat-cyan);
}

.text--gray {
  color: var(--paleGray);
}

.text-center {
  text-align: center !important;
}

.row {
  margin-bottom: 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  text-align: left;
  padding: 8px;
}

tr:last-child {
  border: none;
}

.h5,
h5 {
  font-size: 1.25rem;
}

.title {
  margin: 0.5rem;
}

/* Switch Selector */
.MuiFormControlLabel-root {
  justify-content: center;
}

.countryPicker{
  color: black;
  width: 1000px;
  display: inline-block;
}
/* END INDEX.CSS THINGS */
